<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <form method="POST" action="send">
        <p>
            <label>Email Address</label>
            <input type="email" name="email">
        </p>
        <p class="full">
            <button type="submit">Submit</button>
        </p>
    </form>
</body>

</html>